<div class="product-artisanal">
  <div class="site-title-container">
    <h1 class="site-title">Discover the Higher Standard in Websites<br/> <small>Make every first impression a lasting impression</small><br/>
      <div view-contact-us="Get a Quote Now" add-subject="Turn-Key Sign up from Get a Quote Now"></div>

    </h1>
  </div>
  <div class="features">
    <h1>FEATURES</h1>
    <div class="feature-list">
      <ul>
        <li>Web and Email Hosting Included<p> We will gladly handle all the details of ensuring that you have reliable email and web service, from registering and renewing your domain name, to email, to keeping your website up to date with new content - We handle it all!</p></li>
        <li>Fee is All Inclusive<p>Unlimited content, unlimited photos, unlimited pages, unlimited service with a smile.  Want to highlight your entire inventory of homes? No problem.  Want to add a staff page with profile photos and contact info? We've got you covered.  Just built a new house and want it highlighted on the front page? Just let us know.  Any normal website content updates or additions are included with your monthly fee, no extra charge, and we will do all the work to make sure they look beautiful and are integrated into your site.</p></li>
        <!--<li>SEO Tools<p>While search engine rankings are fickle, with Builder Professional, you'll have peace of mind, knowing that we'll be constantly working to improve your site's ranking and drive ever more traffic to your site.</p></li>-->
      </ul>
    </div>
    <div class="feature-list">
      <ul>
        <li>Red carpet content management<p> At Builder Professional, we understand that you have a business to run.  That's why we make it dead easy to keep your website up to date - by doing it for you!  You save a photo to a folder on your own computer or mobile device; we'll automatically pick it up and ensure it gets added.  You never have to work with complicated tools or administrative pages.  You just tell us what you want done and we roll out the red carpet. </p></li>
        <!--<li>Drone Video<p>Swoop in on your beautiful landscaping from a distance, zooming in to the welcoming front door as you approach.  Our drone operators will provide a beautiful video that transitions from the broad community swooping in to your specific property.  Script the flight with our operator to highlight your desired features.</p></li>-->
        <li>Community Locator<p> Because we create websites almost exclusively for HomeBuilders, we can include features that would cost you thousands of dollars with a tranditional web development company.  With us, they are just a part of the service.  Our community locator feature lets you highlight the areas where you are building, including interactive maps and community features.</p></li>
      </ul>
    </div>
    <div class="clearfix clear-fix"></div>
    <div view-contact-us="Sounds Good, Lets Talk" add-subject="Turn-key Sign up from Sounds Good, Let's Talk"></div>
  </div>
  <div class="features">
    <div class="row">
      <div class="container featuredArtisanalSites">
        <h3>Featured Turn-Key Sites</h3>

        <div class="row">
          <div class="container washableContainer">
            <div class="featuredSite washable">
              <a target="_blank" href="http://www.eliteirondoors.com/"><img src="images/marketing/featured_eliteirondoors.jpg"></a>
            </div>
            <div class="featuredSite washable">
              <a target="_blank" href="http://arlingtonpavers.com/"><img src="images/marketing/featured_arlingtonpavers.jpg"></a>
            </div>
            <div class="featuredSite washable">
              <a target="_blank" href="http://ichroofing.com/"><img src="images/marketing/featured_ichroofing.jpg"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <h1>A Note From the CEO</h1>
  <div class="row">
    <div class="container">
      <div class="overview">
        <p>At Builder Professional, we know what a website means to you and your business. Your
          website projects your work to the public, markets your brand, and showcases your craftsmanship. Those
          are all important, but many times your website will also be your first impression, the one you can
          never take back.</p>

        <p>A Builder Professional Turn-Key Site is designed specifically for your business to
          ensure that every first impression is the lasting impression that turns every potential customer into
          a convert. Instead of a website that you have to manage on your own, the Turn-Key Site is a
          relationship that puts our expertise to work for you on a continuing basis.</p>

        <p>First, you pay a minimal setup fee of $1000 for your whole website. There are no add-on
          prices for additional modules or pages. All required programming and pages are included. Once your initial
          graphics are completed, you pay $150 per month as long as you want to stay with us. We're betting
          you're going to stay with us a very long time.</p>

        <p>When you build a new home and want to show off your latest and greatest, just get
          us the photos. We'll get them sized, oriented, and beautifully placed into your site. When you have
          a great customer testimonial, just get it to us, we'll get it featured to show off the great work
          you are doing. When you forge a great new partnership, just let us know the details and we'll get
          a write up and links to make the most out of your relationships. We do all this making sure that
          your website never looks out of date, never looks rushed, and never looks anything but first class.
          Plus, all of this is 100% included in your fee, you are never up-sold or charged extra. For your
          Turn-Key Site, nothing but the best is good enough for you, and nothing but the best is good
          enough for us either.</p>

        <p>I believe your business deserves a Turn-Key Site that projects what you and your
          business are capable of, and I can't wait to make sure your business gets one.</p>

        <p class="ceo_signature" style="padding-left: 40px">-- Tony Vance, CEO Builder Professional</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <a class="btn btn-default consultAction" ng-click="signup()">Signup Now</a>
  </div>
  </div>
    <script type="text/ng-template" id="sign-up-modal.html">
    <turnkey-signup></turnkey-signup>
    </script>
</div>
</div>