<div class="software-page">
  <div class="site-title-container">
    <h1 class="site-title">SOFTWARE PACKAGES<br/> <small>Estimating &amp; Accounting Software for Homebuilders</small><br/>
      <a class="btn btn-default call-to-action" ng-click="signup()">Get Better Estimates Today </a>
    </h1>
  </div>
  <div class="features">
    <h1>FEATURES</h1>
    <div class="feature-list">
      <ul>
        <li>Saves you time and money<p>In your hands, this tool will help you efficiently schedule your jobs and deliver an accurate bottom line.</p></li>
        <li>User friendly with intuitive look and feel<p>Completely networkable and easy to use integration with QuickBooks and Windows.</p></li>
        <li>Keeps you organized <p>Flexible and detailed worksheet control.<br/>Limitless amount of subcategories.</p></li>
        <li>QuickBooks Gold Developer <p>This software product has passed the QuickBooks Technical Review process for Intuit Developer Network members. The QuickBooks Technical Review is administered by an independent third pary and consists of over 30 test cases designed to verify the high quality of this product. See us in the <a href="http://marketplace.intuit.com/AppID-2685-Overview.aspx">QuickBooks Marketplace</a></p></li>
      </ul>
    </div>
    <div class="feature-list">
      <ul>
        <li>We Talk to QuickBooks and Quickbooks talks back<p>Update pricing and items for an estimate back to your master list in the blink of an eye.<br/>Update pricing from checks written in QuickBooks back to the Estimator, allowing the program to keep up with the latest current pricing.  Insert estimates from the Estimator directly into QuickBooks.</p></li>
        <li>Create Estimate wizard<p>Walks you step by step through creating the new estimate.  Best "Report Wizard" ever and multiple detailed filtering tools for reports.  Use included filters or report any way you want!</p></li>
        <li>Phasing System<p>With the new interface to QuickBooks, each phase is taken into consideration independently of the others.  Your variance report couldn't be more accurate!</p></li>
      </ul>
    </div>
    <div class="clearfix clear-fix"></div>
    <a class="btn btn-default call-to-action" ng-click="signup()">Sounds Good, Take me to the Purchase Page</a>
  </div>
    <div class="container featuredSoftwareScreens">
      <h3>Screenshots</h3>
      <div class="row">
        <div class="container washableContainer">
          <div class="featuredSite washable">
            <img src="images/marketing/software_shot_1.png" ng-click="showLightbox('show-shot-1','Full set of tutorial videos available')">
          </div>
          <div class="featuredSite washable">
            <img src="images/marketing/software_shot_2.png" ng-click="showLightbox('show-shot-2','Multiple levels of items can be estimated on a single screen!')">
          </div>
          <div class="featuredSite washable">
            <img src="images/marketing/software_shot_3.png" ng-click="showLightbox('show-shot-3','Powerful reporting capabilities included; Suitable for delivery to customers')">
          </div>
        </div>
      </div>
    </div>
  <script type="text/ng-template" id="show-shot-1">
    <div class="lightbox-container"><img src="/images/marketing/software_shot_1_big.png"/></div>
  </script>
  <script type="text/ng-template" id="show-shot-2">
    <div class="lightbox-container"><img src="/images/marketing/software_shot_2_big.png"/></div>
  </script>
  <script type="text/ng-template" id="show-shot-3">
    <div class="lightbox-container"><img src="/images/marketing/software_shot_3_big.png"/></div>
  </script>
  <div class="container features">
    <h2>Packages Starting at just $349</h2>
    <p>All packages include</p>
    <ul>
      <li>Phone support during regular business hours</li>
      <li>24 hour turnaround email support</li>
      <li>Access to all software videos for training</li>
      <li>Installation and getting started assistance from one of our professional support staff</li>
    </ul>
  </div>
  <div class="container final-call">
    <a class="btn btn-default call-to-action clearfix" ng-click="signup()">Purchase Today</a>
  </div>
</div>
