<div class="photography-page">
  <div class="site-title-container">
    <h1 class="site-title">PHOTOGRAPHY &amp; VIDEOGRAPHY<br/> <small>360<sup>&deg;</sup> Virtual Tours, Marketing Shots, and Drone Videography</small><br/>
      <div view-contact-us="Get a Quote Now" add-subject="Photography Sign up from Get a Quote Now"></div>
    </h1>
  </div>
  <div class="features">
    <h1>SERVICES &amp; FEATURES</h1>
    <div class="feature-list">
      <ul>
        <li>Marketing Photography<p> Whether you need shots of your latest homes for your website, close ups of your staff for a brochure, or anything in between, we've got you covered.  Professional photography has never been easier.  We specialize in servicing the construction industry and will partner with you to ensure you get exactly the qualities you are looking for in your photographs.</p></li>
        <li>360<sup>&deg;</sup> Virtual Tours<p>When potential customers visit your website, take them on a full-fledged virtual tour where they can walk through the rooms looking up down and all around and truly experiencing the grandeur and openness of your design. </p></li>
        <li>Unparalleled Service<p>Your photography contract comes with the exceptional service that Builder Professional is known for.  Making sure that the process is completely painless and letting you be as much or as little involved as you want to be.</p></li>
      </ul>
    </div>
    <div class="feature-list">
      <ul>
        <li>Video Walking Tours<p>Narrate your own guided video tour.  Unlike the 360<sup>&deg;</sup> Virtual tours which are self-guided by the user allowing them to explore at their leisure, you can make sure they don't miss the features you want to highlight, with a narrated video tour.  We will provide both the professional video and sound equipment to make your video an unparalleled marketing tool.</p></li>
        <!--<li>Drone Video<p>Swoop in on your beautiful landscaping from a distance, zooming in to the welcoming front door as you approach.  Our drone operators will provide a beautiful video that transitions from the broad community swooping in to your specific property.  Script the flight with our operator to highlight your desired features.</p></li>-->
        <li>A Custom Approach<p>We work with you to help you determine the best shots and the best approach to highlight the unique features of your home.  We provide the photography expertise, but you provide your vision and the passion of your unique aesthetic.</p></li>
      </ul>
    </div>
    <div class="clearfix clear-fix"></div>
    <div view-contact-us="Sounds Good, Lets Talk" add-subject="Photography Sign up from Sounds Good, Let's Talk"></div>
  </div>
    <div class="container featuredPhotographyScreens">
      <h3>Portfolio Examples</h3>
      <div class="row">
        <div class="container washableContainer">
          <div class="featuredSite washable">
            <img src="images/marketing/photography_shot_1.png" ng-click="showLightbox('show-shot-1','Beautiful lighted interior shots highlight an open floorplan')">
          </div>
          <div class="featuredSite washable">
            <img src="images/marketing/photography_shot_2.png" ng-click="showLightbox('show-shot-2','Exterior shots show off unique architecture and landscaping')">
          </div>
          <div class="featuredSite washable">
            <img src="images/marketing/photography_shot_3.png" ng-click="showLightbox('show-shot-3','Detail shots bring unique interior features into focus')">
          </div>
        </div>
      </div>
    </div>
  <script type="text/ng-template" id="show-shot-1">
    <div class="lightbox-container"><img src="/images/marketing/photography_shot_1_big.jpg"/></div>
  </script>
  <script type="text/ng-template" id="show-shot-2">
    <div class="lightbox-container"><img src="/images/marketing/photography_shot_2_big.jpg"/></div>
  </script>
  <script type="text/ng-template" id="show-shot-3">
    <div class="lightbox-container"><img src="/images/marketing/photography_shot_3_big.jpg"/></div>
  </script>
  <div class="container features">
    <h2>By the day pricing for standard photography starts at $199/day plus expenses</h2>
    <h3>Multiple locations can be shot in a day depending on the level of detail and number of shots desired for each</h3>
    <p>Also</p>
    <ul>
      <li>Builder Professional provides equipment, experts, and exceptional service</li>
      <li>Flexible scheduling lets us come to you when it is convenient</li>
      <li>Preparation for both web and print media is included at no additional charge</li>
    </ul>
  </div>
  <div class="container final-call">
    <div view-contact-us="Schedule Today" add-subject="Photography Sign up from Schedule Today"></div>
  </div>
</div>
