<div class="ourStory container" >
  <div class="row">
  <h1 class="page-header">Our Story</h1>
  <h2 class="big_title">Our History as Builders Software Enterprises</h2>
    <div class="headshot pull-left">
      <img src="/images/rick_powell.jpg"/>
      <div class="caption">Rick Powell - Founder of BSE</div>
    </div>
  <p class="content">
    On August 20th, 1990 Rick Powell founded Builders Software Enterprises. That was the date Rick Powell
    sold his first estimating software program to a homebuilder in Fort Worth, Texas. Rick's ten year
    experience as a homebuilder gave him the background to create a software system that would work
    logically for a builder. He then spent the next 20+ years teaching
    homebuilders how to ditch their pencils while sharpening their numbers when it comes to estimating
    the price of building a home, coupled with using QuickBooks® as the job cost and general ledger
    accounting solution.
  </p>

  <h2 class="big_title">How Rick and I Got Started</h2>
    <div class="headshot pull-left">
      <img src="/images/tony_headshot.jpg"/>
      <div class="caption">Tony Vance - CEO of Builder Professional</div>
    </div>
  <p class="content">
    I'm Tony Vance, CEO of Builder Professional, and I first went to work for Rick in 1999 as a software
    developer for my first professional job in the industry. Rick met me and decided to give me a shot,
    and we went right to work on the BSE Estimator 2000. The BSE Estimator 2000 was released in February
    of 2000, and a long-time partnership was formed. We also built the next two versions of the BSE
    Estimator together over the years.  At the same time, I worked in various positions in software development
    and management, garnering 15 years of industry experience and preparation for the next steps in this company's evolution.
  </p>

  <h2 class="big_title">We Are Now Builder Professional</h2>
    <div class="pull-left headshot">
      <img src="/images/bplogo.png" class="square"/>
    </div>
  <p class="content no-top-padding">
    Very sadly, in May of 2015, my friend Rick Powell passed away unexpectedly.
    A lot of our customers knew Rick well, and most people that knew Rick liked him a lot. We
    started Builder Professional to carry on the work that he started and continue to serve homebuilders
    and their needs. Rick asked me many times to carry on this legacy after he retired,
    so when he passed unexpectedly, I felt like we should keep going. Rick's daughter Carmen agreed, and
    after some planning and careful thought, Builder Professional was born.

    <br /><br />

    We are proud to work with the great team that Rick had already assembled and cultivated, and I am
    confident that not only does Builder Professional come from a great BSE tradition, but Builder
    Professional will continue to push forward.
  </p>
    <p class="content">
      We're ready to help with anything you need, from custom websites to estimating software to accounting training.
      Everything we do comes down to this: We Help Builders!  Give us a call at 844-63-BUILD to see how we can help you!<br/><br/><br/>
    </p>
  </div>
</div>