<div ng-if="selectedProductId && phase.localeCompare('CHOOSE') == 1 && selectedProductId != -1 && loaded">
  <div class="phase" ng-class="getPlan('Name')">
    <div class="pull-right expander">
      <a ng-click="setPhase('CHOOSE')" ng-show="canChange() && Products.length > 1">
        Change
      </a>
    </div>
    <h1>
      Purchasing: {{getPlan('Name')}} (<span eng-currency amount="getPlan('OneTimeAmount')"></span><span ng-if="getPlan('RecurringAmount') != '0'"> Setup, <span eng-currency amount="getPlan('RecurringAmount')"></span> / Month</span>)
    </h1>
  </div>
</div>
<div ng-if="selectedProductId && vault && phase.localeCompare('COLLECT') == 1 && loaded">
  <div class="phase">
    <div class="pull-right expander">
      <a ng-click="setPhase('COLLECT')" ng-show="canChange()">
        Change
      </a>
    </div>
    <h1>
      Selected Payment Type: XXXX-XXXX-XXXX-{{last4}}
    </h1>
  </div>
</div>
<div class="change-plan view-content choose-plan" ng-if="(!selectedProductId || phase == 'CHOOSE') && loaded" style="width:100%">
  <h1 class="index_main_quote everything">Everything we do comes down to this:
    <span class="index_main_quote_highlight">We help builders.</span></h1>
  <h1 class="index_continue">Continue with purchase</h1>
  <div class="plan-info info-block marketing-block" ng-repeat="plan in Products" ng-class="plan.model.Code + (Products.length == 1)? ' one-product':''">
    <div class="header">
      <h1>
        <span>{{plan.model.Name}}</span>
      </h1>
      <hr/>
    </div>
    <div class="content">
      <eng-marketing content="plan.model.Code"></eng-marketing>
    </div>
    <div class="footer actions">
      <div class="pricing">
        <span ng-if="plan.model.OneTimeAmount != '0'">
          <span ng-if="plan.model.RecurringAmount != '0'">Setup:</span><span ng-if="plan.model.RecurringAmount == '0'">Price:</span> <span eng-currency amount="plan.model.OneTimeAmount"></span>
        </span>
        <span ng-if="plan.model.RecurringAmount != '0'">
        <span ng-if="plan.model.OneTimeAmount != '0'"><br/></span>
          Recurring Fee: <span eng-currency amount="plan.model.RecurringAmount"></span> / Month
        </span>
      </div>
      <div class="action-buttons" ng-if="selectedProductId===false">
        <eng-action-button class="btn-lg" ng-if="selectedProductId===false" ng-click="change(plan)" data-button-text="Get Started" data-button-action="upgrade">
        </eng-action-button>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<eng-alerts alert-prefix="payment"></eng-alerts>
<div ng-if="selectedProductId && phase == 'COLLECT' && loaded" style="width:100%;">
  <div ng-if="selectedProductId == -1">
  </div>
  <div class="cc-form">
    <div class="new-payment-information" ng-if="validator && validator.rules">

      <form>
        <h1 class="index_main_quote" style="width:100%;">Enter payment info.</h1>

        <fieldset>
        <legend>A Little About You</legend>
          <eng-field type="text" placeholder="First Name" validator="validator" ng-model="SignUp.FirstName" label="First Name" ></eng-field>
          <eng-field type="text" placeholder="Last Name" validator="validator" ng-model="SignUp.LastName" label="Last Name" ></eng-field>
          <eng-field type="text" placeholder="Email" validator="validator" ng-model="SignUp.Email" label="Email"></eng-field>
          <eng-field type="text" placeholder="Company Name" validator="validator" ng-model="SignUp.CompanyName" label="Company Name" ></eng-field>
        </fieldset>
        <fieldset class="creditcard">
          <legend>Payment Info</legend>
          <eng-field type="text" placeholder="Enter a Valid Credit Card Number" validator="validator" ng-model="SignUp.CreditCardNumber" label="CC #" >
          </eng-field>

          <eng-field type="cvc"
                     validator="validator"
                     ng-model="SignUp.CVV"
                     label="CVV/CVC">
          </eng-field>

          <eng-expiration-input
              validator="validator"
              model="SignUp">
          </eng-expiration-input>
          <!--
          <eng-field type="text"
                     placeholder="Zip Code"
                     validator="validator"
                     help="'Be sure to enter the billing zipcode associated with your credit card.'"
                     ng-model="BrainTree.ZipCode"
                     label="Zip Code">
          </eng-field>
          -->
        </fieldset>
        <fieldset>
          <legend>Billing Address (for tax purposes)</legend>
        <eng-address address-reference="SignUp" address="Address" ng-if="Address"></eng-address>
          <div class="address">
            <eng-field type="text"
                       placeholder="Street Address (e.g. 314 Brookwood Dr)"
                       validator="validator"
                       ng-model="SignUp.Address"
                       label="Street Address">
            </eng-field>
            <eng-field type="text"
                       placeholder="Suite/Apt # (e.g. Suite 123)"
                       validator="validator"
                       ng-model="SignUp.Address2"
                       label="Suite/Apt #">
            </eng-field>
            <eng-field type="text"
                       placeholder="City"
                       validator="validator"
                       ng-model="SignUp.City"
                       label="City">
            </eng-field>
            <eng-field type="text"
                       placeholder="State"
                       validator="validator"
                       ng-model="SignUp.State"
                       label="State">
            </eng-field>
            <eng-field type="text"
                       placeholder="Zip Code"
                       validator="validator"
                       ng-model="SignUp.ZipCode"
                       label="Zip Code">
            </eng-field>
            <eng-field type="text"
                       placeholder="2 digit Country Code (e.g. US)"
                       validator="validator"
                       ng-model="SignUp.Country"
                       label="Country">
            </eng-field>
                  </div>
        </fieldset>

        <fieldset class="record-actions">
          <div class="action-buttons">
            <eng-action-button ng-click="cancelCC()" data-button-text="Cancel" data-button-action="cancel-aside"></eng-action-button>
            <eng-action-button ng-click="saveCC()" data-button-text="Save" data-button-action="save"></eng-action-button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div ng-if="selectedProductId && phase == 'CONFIRM' && loaded" style="width:100%;" ng-class="phase">
  <h1 class="index_main_quote">Your Credit Card has not yet been charged.<br/>
    <span class="index_main_quote_highlight">Click Confirm to complete your purchase!</span></h1>
  <div class="plan-info info-block marketing-block" ng-class="getPlan('Name')" ng-if="selectedProductId != -1">
    <div class="header">
      <h1>
        <span>{{getPlan('Name')}}</span>
      </h1>
      <hr/>
    </div>
      <div class="content">
        <eng-marketing content="getPlan('Code')"></eng-marketing>
      </div>

    <div class="footer actions">
      <div class="action-buttons">
      </div>
    </div>
  </div>
  <div class="info-block marketing-block confirm-block" ng-class="{noproduct:selectedProductId == -1}">
    <h1>Confirm Purchase</h1>
    <div>
      <eng-marketing content="getPlan('Code')+'_signup'"></eng-marketing>
    </div>
    <fieldset>
      <legend>Agreement</legend>
      <label>
        <input type="checkbox" name="AgreedToTerms" id="AgreedToTerms" ng-model="SignUp.AgreedToTerms">
        I have the authority to enter into agreements on behalf of {{SignUp.CompanyName || 'My Company'}} and I do so agree to the <a style="cursor:pointer;text-decoration:underline;color:blue;" id="terms" ng-click="showTerms=!showTerms">terms of this agreement.</a>
      </label>
      <ul id="termsblock" ng-if="showTerms">
        <li> Services will be provided by Builder Professional Technology, LLC in the form of web site development, hosting, and maintenance, including unlimited marketing pages and community locator and email hosting and service (if requested).</li>
        <li> Payments shall be made by the client to Builder Professional Technology, LLC, Duncanville, TX 75137.</li>
        <li> Client agrees to pay Builder Professional the amounts indicated in this proposal including any
          recurring fees. Client is providing a credit card that will be charged automatically every month for said
          recurring fees.</li>
        <li> In the case of a transaction being rejected, Client understands that Builder Professional may at its
          discretion attempt to process the charge again within 30 days, and agree to an additional $20.00 charge for
          each attempt rejected which will be initiated as a separate transaction from the authorized recurring
          payment. Client shall pay all costs of collection, including without limitation, reasonable attorney fees and
          agrees that in the case of client's failure to pay for services when due, Builder Professional may at its
          discretion treat such failure as a material breach of Contract and may cancel the contract and/or seek legal
          remedies.</li>
        <li> Client certifies that client is an authorized user of the credit card provided and that client and its officers
          will not dispute these scheduled transactions with Client's bank or credit card company; so long as the
          transactions correspond to the terms indicated in this authorization.</li>
        <li> Client further authorizes Builder Professional to charge this credit card or any updated credit card a
          cancellation fee of two (2) times the monthly amount if the client cancels service before the end of the first
          12 months of service on the Turn-Key plan.</li>
        <li> Client understands that if client is not an existing Builder Professional Web Hosting Client and service is canceled before the end of the first 12 months, all website design will remain
          the intellectual property of Builder Professional and will not be released.  After the first 12 months if service is cancelled,
          the full website will be provided to the client as a static set of web pages suitable for display on any hosting provider but
          without the content management and back-end form processing which is proprietary to Builder Professional.
        </li>
        <li> This agreement may be terminated after twelve (12) months by either party upon thirty (30) days prior
          written notice to the other party. An email notice by one party will suffice.</li>
        <li> This is the entire agreement of the parties and there are no other promises or conditions in any other
          agreement concerning the subject matter of this contract. This contract supersedes any prior written or oral
          agreement between the parties.</li>
      </ul>
      <label>
        <input type="checkbox" name="MailingList" id="MailingList" ng-model="SignUp.MailingList" checked="checked"> Keep me informed about Builder Professional services
      </label>
    </fieldset>
    <div class="pricing" ng-show="getPlan('ClassKey') == 'recurring'" style="margin-bottom:12em;">
      You will be charged: <span eng-currency amount="getPlan('RecurringAmount')"></span> + applicable tax <span> each month until you cancel.
      You can cancel after the first year.</span>
    </div>
    <div class="totals-block">
      <table class="totals">
        <tbody>
        <tr>
          <td colspan="2">
            To be charged now:
          </td>
        </tr>
        <tr ng-if="selectedProductId != -1">
          <th>{{getPlan('Name')}}</th>
          <td><span eng-currency amount="getPlan('OneTimeAmount')"></span></td>
        </tr>
        <tr>
        <tr ng-if="Totals.TaxRate > 0">
          <th>Tax (<span>{{Totals.TaxPercentage}}%</span>)</th>
          <td><span eng-currency amount="Totals.Tax"></span></td>
        </tr>
        <tr>
          <th>Total</th>
          <td><span eng-currency amount="Totals.Total"></span></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="footer actions">

      <eng-action-button class="btn-lg" ng-click="confirm()" data-button-text="Confirm Purchase" data-button-action="confirm-action">
      </eng-action-button>
    </div>
  </div>
</div>
<div ng-if="selectedProductId && phase == 'RECEIPT' && loaded" style="width:100%;" ng-class="phase">
  <h1 class="index_main_quote">Thanks for your purchase</h1>
  <hr class="invoice-bar"/>
  <div class="pull-right builder-name">
    Builder Professional
  </div>
  <div class="col-md-4 builder-address">
    PO&nbsp;Box&nbsp;121068<br/>
    Arlington,&nbsp;TX 76012-1068<br/><br/>
    Phone: (844)&nbsp;63-BUILD / (844)&nbsp;632-8453<br/>
    Fax:
    (800)&nbsp;494-7705<br/><br/>
    E-mail:
    billing@builderprofessional.com<br/>
  </div>
  <hr class="invoice-bar"/>
  <h1 class="index_main_quote receipt">Receipt # <span class="receipt-number" ng-if="ReceiptNumber">{{ReceiptNumber}}</span>
    </h1>
  <div>
    <table width="100%" class="date-line">
      <thead>
        <th class="date">Date</th>
        <th class="bill-to">Billed To</th>
        <th class="empty"></th>
        <th class="Total">Total</th>
      </thead>
      <tbody>
        <td class="date">{{today|date:'shortDate'}}</td>
        <td class="bill-to">
          {{PurchaseResult.CompanyName || 'Your Company'}}<br/>
          {{SignUp.Address || 'No Address Provided'}}<br/>
          {{SignUp.City || 'No City'}},
          {{PurchaseResult.State || 'No State'}}
          {{PurchaseResult.ZipCode || 'No Zipcode'}}<br/>
        </td>
        <td class="empty"></td>
        <td class="Total"><span eng-currency amount="Totals.Total"></span></td>
      </tbody>
    </table>
  </div>
  <div class="description-block">
    <table width="100%">
      <thead>
        <tr>
          <th>Item</th>
          <th>Rate</th>
          <th>Qty</th>
          <th style="width:8em;">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{getPlan('Name')}} Setup</td>
          <td><span eng-currency amount="getPlan('OneTimeAmount')"></span></td>
          <td>1</td>
          <td class="totals"><span eng-currency amount="getPlan('OneTimeAmount')"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pull-right col-lg-4 totals-block">
    <table class="totals">
      <tbody>
        <tr ng-if="Totals.Tax">
          <th>Tax</th>
          <td><span eng-currency amount="PurchaseResult.TaxAmount"></span></td>
        </tr>
        <tr>
          <th>Total</th>
          <td><span eng-currency amount="PurchaseResult.TotalAmount"></span></td>
        </tr>
        <tr>
          <th>Paid</th>
          <td><span eng-currency amount="PurchaseResult.TotalAmount"></span></td>
        </tr>
        <tr>
          <td colspan="2" class="msg">
            Please print this receipt for your records.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-12">
    <h1 class="index_main_quote">
      A Builder Professional Representative will be in touch with you shortly to schedule an initial consultation.
    </h1>
    <p class="text-center">You may also call 844-632-8453 to speak to a representative immediately during business hours.</p>
  </div>
  <div class="col-lg-12">
    <h1 class="index_main_quote">
      <a href="/">Return to BuilderProfessional.com</a>
    </h1>
  </div>

</div>
