<div>
  <div class="container">
    <div class="row washableContainer">


      <div class="productCallout washable artisanal">
        <a ui-sref="engViewTurnkey">
          <div class="image">        <img src="images/marketing/artisanal_callout.png">
          </div>

          <div class="title">
            <h2>We Build</h2>
            <h3>Your Dream Turn-Key Site</h3>
          </div>

          <div class="buttonWrapper">
            <div class="button center-block">
              Find Out More
            </div>
          </div>
        </a>
      </div>

      <div class="productCallout washable software">
        <a ui-sref="engViewSoftware">
          <div class="image">        <img src="images/marketing/software_callout.png">
          </div>

          <div class="title">
            <h2>Easy Estimating</h2>
            <h3>With Great Software</h3>
          </div>

          <div class="buttonWrapper">
            <div class="button center-block">
              Check It Out
            </div>
          </div>
        </a>
      </div>

      <div class="productCallout washable training">
        <a target="_blank" href="https://buildertraining.net">
          <div class="image">        <img src="images/marketing/training_callout.png">
          </div>

          <div class="title">
            <h2>Comprehensive</h2>
            <h3>Training for Builders</h3>
          </div>

          <div class="buttonWrapper">
            <div class="button center-block">
              Get Started
            </div>
          </div>
        </a>
      </div>

      <div class="productCallout washable photos">
        <a target="_blank" href="http://www.teambse.com/avservices.php">
          <div class="image">        <img src="images/marketing/photos_callout.jpg">
          </div>

          <div class="title">
            <h2>Professional</h2>
            <h3>Photography Services</h3>
          </div>

          <div class="buttonWrapper">
            <div class="button center-block">
              See Our Services
            </div>
          </div>
        </a>
      </div>    </div>

    <div class="row">
      <div class="container tagline">
        <h1>Providing Solutions for Home Builders</h1>
        <h2 class="phone">(844) 63-BUILD / <span id="gc-number-0" class="gc-cs-link" title="Call with Google Voice">(844) 632-8453</span></h2>
        <h2>Everything we do comes down to one thing: <span class="emphasis">We Help Builders</span></h2>
        <p>Where else can you hire a team of designers, copywriters, technology experts, sales, marketing, and administrators
          all for a minimal set-up and a low monthly fee? Our team puts the builder first and works hard to provide the best
          websites, software, and training in the industry.</p>
        <div view-contact-us></div>
    </div>

    <div class="row">
      <div class="container featuredArtisanalSites">
        <h3>Featured Artisanal Sites</h3>

        <div class="row">
          <div class="container washableContainer">
            <div class="featuredSite washable">
              <a target="_blank" href="http://www.eliteirondoors.com/"><img src="images/marketing/featured_eliteirondoors.jpg"></a>
            </div>
            <div class="featuredSite washable">
              <a target="_blank" href="http://arlingtonpavers.com/"><img src="images/marketing/featured_arlingtonpavers.jpg"></a>
            </div>
            <div class="featuredSite washable">
              <a target="_blank" href="http://ichroofing.com/"><img src="images/marketing/featured_ichroofing.jpg"></a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
